<div class="text-field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="text-field">
  <%= form.label :description %>
  <%= form.text_area :description%>
</div>

<div class="price-field">
  <%= form.label :price_per_night %>
  <%= form.number_field :price_per_night%>
</div>

<div class="text-field">
  <%= form.label :room_type %>
  <%= form.text_field :room_type %>
</div>

<div class="text-field">
  <%= form.label :property_type %>
  <%= form.text_field :property_type %>

<div class="number-field">
  <%= form.label :maximum_guests %>
  <%= form.number_field :guest_num%>
</div>

<div class="number-field">
  <%= form.label :number_of_bedrooms %>
  <%= form.number_field :bedroom_num%>
</div>

<div class="number-field">
  <%= form.label :number_of_beds %>
  <%= form.number_field :bed_num%>
</div>

<div class="number-field">
  <%= form.label :number_of_bathrooms %>
  <%= form.number_field :bathroom_num%>
</div>

<div class="text-field">
  <%= form.label :street_address %>
  <%= form.text_field :address_line_one %>
</div>

<div class="text-field">
  <%= form.label :address_line_two %>
  <%= form.text_field :address_line_two %>
</div>

<div class="text-field">
  <%= form.label :town_or_city %>
  <%= form.text_field :city_town %>
</div>

<div class="text-field">
  <%= form.label :state_or_county %>
  <%= form.text_field :state_county %>
</div>

<div class="text-field">
  <%= form.label :country %>
  <%= form.text_field :country %>
</div>

<div class="text-field">
  <%= form.label :zip_or_postcode %>
  <%= form.text_field :zip_postcode %>
</div>

<div class="checkbox-fields">
  Amenities</br>
  <%= form.label :amenity_list, "Washing machine" %>
  <%= form.check_box :amenity_list, { :multiple => true }, 'Washing machine', nil %>
  <%= form.label :amenity_list, "Swimming pool" %>
  <%= form.check_box :amenity_list, { :multiple => true }, 'Swimming pool', nil %>
  <%= form.label :amenity_list, "WiFi" %>
  <%= form.check_box :amenity_list, { :multiple => true }, 'WiFi', nil %>
  <%= form.label :amenity_list, "Kitchen" %>
  <%= form.check_box :amenity_list, { :multiple => true }, 'Kitchen', nil %>
</div>




