<div class="text-field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="text-field">
  <%= form.label :description %>
  <%= form.text_area :description%>
</div>

<div class="price-field">
  <%= form.label :price_per_night %>
  <%= form.number_field :price_per_night%>
</div>

<div class="text-field">
  <%= form.label :room_type %>
  <%= form.text_field :room_type %>
</div>

<div class="text-field">
  <%= form.label :property_type %>
  <%= form.text_field :property_type %>

<div class="number-field">
  <%= form.label :maximum_guests %>
  <%= form.number_field :guest_num%>
</div>

<div class="number-field">
  <%= form.label :number_of_bedrooms %>
  <%= form.number_field :bedroom_num%>
</div>

<div class="number-field">
  <%= form.label :number_of_beds %>
  <%= form.number_field :bed_num%>
</div>

<div class="number-field">
  <%= form.number_field :bathroom_num, label: "Number of Bathrooms"%>
</div>

<div class="text-field">
  <%= form.text_field :address_line_one %>
</div>

<div class="text-field">
  <%= form.text_field :address_line_two %>
</div>

<div class="text-field">
  <%= form.text_field :city_town, label: "Town/City" %>
</div>

<div class="text-field">
  <%= form.text_field :state_county, label: "State/Province/County" %>
</div>

<div class="text-field">
  <%= form.text_field :country %>
</div>

<div class="text-field">
  <%= form.text_field :zip_postcode, label: "Zip/Postcode" %>
</div>

<div class="checkbox-fields">
  Amenities</br>
  <%= form.check_box :amenity_list, { multiple: true, label: "Washing machine" }, 'Washing machine', nil %>
  <%= form.check_box :amenity_list, { multiple: true, label: "Swimming pool" }, 'Swimming pool', nil %>
  <%= form.check_box :amenity_list, { multiple: true, label: "WiFi" }, 'WiFi', nil %>
  <%= form.check_box :amenity_list, { multiple: true, label: "Kitchen" }, 'Kitchen', nil %>
</div>

<div class="field">
  <%= form.file_field :images, multiple: true %>
</div>





