<%= form_tag("/", method: 'get') do %>
	<p>
		<%= hidden_field_tag "keywords", @selected_tags %>
		<%= hidden_field_tag "sort", params[:sort] %>
		<%= hidden_field_tag "direction", params[:direction] %>
		<%= text_field_tag "search", @search, placeholder: "Where do you want to go?" %>
		<%= submit_tag "Search", name: nil %>
	</p>
<% end %>	


<div class = "filters">
	<h3> Amenities </h3>
	<%= form_tag("/", method: 'get') do %>
		<%= hidden_field_tag "search", @search %>
		<%= hidden_field_tag "sort", params[:sort] %>
		<%= hidden_field_tag "direction", params[:direction] %>
		<% Listing.amenity_counts.each do |tag| %>
		    <div>
		      <%= check_box_tag "keywords[]", tag.name, @selected_tags.include?(tag.name) %>
		      <%= tag.name %>
		    </div>
		<% end %>
		<%= submit_tag "Filter", name: nil %>
	<% end %>
</div>	

<%= sortable "price_per_night", "Price" %>


<div>
	<h2> Listings </h2>

	<% @listings.each do |listing| %>
		<h3><%=link_to listing.title, listing_path(listing) %></h3>
	  <% if listing.images.present? %>
			<%= image_tag listing.images_urls(:homepage).first %>
		<% end %>	

		<p>Price: £<%= listing.price_per_night %></p>

		<p>Room Type: <%= listing.room_type %></p>

		<p>Property Type: <%= listing.property_type %></p>

		<p>Bedrooms: <%= listing.bedroom_num %> Beds: <%= listing.bed_num %></p>

		<p>Location: <%= listing.city_town %>, <%= listing.state_county %>, <%= listing.country %></p>

	<% end %>	
<%= will_paginate @listings %>

</div>